<div *ngIf="apartmentsData" class="container">
    <div *ngFor="let apartment of apartmentsData.data">
        <div class="card list-item">
            <div class="card-body" *ngIf="apartment">
                <h4>
                    <a [routerLink]="['/apartments/' + apartment.id]" class="apartmentName">
                        {{apartment.name}}
                    </a>
                </h4>
                <p>{{apartment.description}} - Added on {{apartment.addedDate | date:'mediumDate'}} </p>
                <div class="row">
                    <div class="col-4 centered">
                        Floor area size<br />
                        <b>{{apartment.floorAreaSize}} m<sup>2</sup></b>
                    </div>
                    <div class="col-4 centered">
                        Number of rooms<br />
                        <b>{{apartment.numberOfRooms}}</b>
                    </div>
                    <div class="col-4 centered">
                        Price/month<br />
                        <b>${{apartment.pricePerMonth}}</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-1">
            <button *ngIf="apartmentsData.prev" (click)="prevPage()" class="btn btn-primary">Prev</button>
        </div>
        <div class="col-9"></div>
        <div class="col-2">
            <button *ngIf="apartmentsData.next" (click)="nextPage()" class="btn btn-primary ml-4">Next</button>
        </div>
    </div>
    <br />
</div>